<div
  class="black-gradient py-20 mt-24 flex flex-col gap-4 items-center justify-center"
>
  <p class="text-4xl text-white font-semibold">Get more great resources</p>
  <p class="text-xl text-white text-center">
    Get the latest design resources from across the web. <br />
    Straight to your inbox.
  </p>
  <div class="flex gap-4">
    <input
      class="rounded-[9px] py-3 px-[19px]"
      placeholder="Enter your email"
    />
    <button class="white-button">Subscribe</button>
  </div>
</div>
