<div class="bg-[#f5f6f7]">
  <div class="w-full max-w-[1200px] px-5 mx-auto">
    <div
      class="flex flex-col sm:flex-row gap-y-5 justify-between items-center py-10 border-b border-b-[#cacaca]"
    >
      <img src="assets/images/logo.svg" class="h-9" />
      <div class="flex gap-3 wrapper">
        <div
          routerLink="/home"
          class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
        >
          Home
        </div>
        <div
          routerLink="/resources"
          class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
        >
          Resources
        </div>
        <div
          routerLink="/contact-us"
          class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
        >
          Contact
        </div>
      </div>
    </div>
    <div class="flex justify-between py-3">
      <div class="text-lg text-[#495158]">Built By Artem</div>
      <div class="flex gap-3">
        <a href="https://github.com/AtomMes/Memberbase">
          <img src="assets/images/github.png" class="h-9 cursor-pointer" />
        </a>
        <a href="https://linkedin.com/in/artem-mesropyan">
          <img src="assets/images/linkedin.png" class="h-9 cursor-pointer" />
        </a>
        <a href="https://artem-mesropyan-dev.netlify.app">
          <img src="assets/images/portfolio.png" class="h-9 cursor-pointer" />
        </a>
      </div>
    </div>
  </div>
</div>
