<div class="w-full max-w-[1200px] mx-auto">
  <div
    class="flex justify-between items-center py-10 border-b border-b-[#cacaca]"
  >
    <img src="assets/images/logo.svg" class="h-9" />
    <div class="flex gap-3 wrapper">
      <div
        class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
      >
        Home
      </div>
      <div
        class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
      >
        Resources
      </div>
      <div
        class="text-lg text-[#495158] duration-200 cursor-pointer hover:text-black"
      >
        Contact
      </div>
    </div>
  </div>
  <div class="flex justify-between py-3">
    <div class="text-lg text-[#495158]">Built By Artem</div>
    <div class="flex gap-3">
      <img src="assets/images/github.png" class="h-9" />
      <img src="assets/images/linkedin.png" class="h-9" />
      <img src="assets/images/portfolio.png" class="h-9" />
    </div>
  </div>
</div>
