<div
  class="black-gradient py-20 mt-24 flex flex-col px-5 gap-6 items-center justify-center"
>
  <p class="text-[40px] leading-tight text-white font-semibold text-center">
    Get more great resources
  </p>
  <p class="text-[24px] leading-tight text-white text-center max-w-[580px]">
    Get the latest design resources from across the web. Straight to your inbox.
  </p>
  <div class="flex flex-col sm:flex-row justify-center gap-4 w-full">
    <input
      class="rounded-[9px] py-3 px-[19px] w-full sm:w-fit"
      placeholder="Enter your email"
    />
    <button class="white-button w-full sm:w-fit">Subscribe</button>
  </div>
</div>
