<div
  class="grid w-full max-w-[1200px] px-5 mx-auto auto-cols-[1fr] gap-x-[48px] gap-y-[32px] grid-cols-[1fr] sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] grid-rows-[auto]"
>
  <div
    *ngFor="let resource of resources"
    class="flex flex-col duration-200 hover:scale-[1.03] hover:-translate-y-2"
  >
    <img [src]="resource.image" alt="Resource Image" class="mb-4 rounded-xl" />
    <p class="text-[14px] text-[#99a4af]">By {{ resource.author }}</p>
    <p class="text-[26px] font-semibold leading-tight">{{ resource.title }}</p>
    <p class="text-[#99a4af]">{{ resource.description }}</p>
  </div>
</div>
