<div
  class="flex flex-col md:flex-row gap-y-3 justify-between items-center w-full max-w-[1200px] mx-auto px-5 py-9 border-y mt-24 mb-9"
>
  <div>
    <div class="text-[26px] font-semibold mb-3 text-center md:text-left">Get the best resources</div>
    <div class="text-[16px] text-center md:text-left ">
      Get the latest design resources from across the web
    </div>
  </div>
  <div class="flex flex-row">
    <input
      class="rounded-[9px] py-3 px-[19px] border w-full sm:w-fit bg-[#f5f6f7] outline-none"
      placeholder="Enter your email"
    />
    <button class="white-button w-full sm:w-fit -ml-4">Subscribe</button>
  </div>
</div>
