<div
  class="dark-gradient min-h-[75vh] w-full pt-32 pb-20 flex flex-col items-center px-5"
>
  <div class="text-[18px] font-medium  text-[#99a4af] mb-2 ">Contact</div>
  <div class="text-[46px] font-semibold text-white leading-none text-center mb-4">
    How can we help?
  </div>
  <div class="text-[18px] text-white max-w-[500px] text-center">
    Reach out to inquire about an ebook, submit an ebook, or with any other
    inquiry you might have.
  </div>
  <div
    class="bg-white rounded-xl mt-8 p-10 flex flex-col gap-y-5 w-full sm:w-fit"
  >
    <div class="flex flex-col sm:flex-row gap-5 w-full">
      <div>
        <p>First Name*</p>
        <input
          type="text"
          placeholder="Your first name"
          class="rounded-[9px] py-3 px-[19px] border w-full bg-[#f5f6f7] outline-none"
        />
      </div>
      <div>
        <p>Last Name*</p>
        <input
          type="text"
          placeholder="Your last name"
          class="rounded-[9px] py-3 px-[19px] border w-full bg-[#f5f6f7] outline-none"
        />
      </div>
    </div>
    <div>
      <p>Email*</p>
      <input
        type="text"
        placeholder="example@gmail.com"
        class="rounded-[9px] py-3 px-[19px] border w-full bg-[#f5f6f7] outline-none"
      />
    </div>
    <div>
      <p>Your message</p>
      <textarea
        type="text"
        placeholder="Enter message here"
        class="rounded-[9px] py-3 px-[19px] border w-full bg-[#f5f6f7] outline-none"
      ></textarea>
    </div>
    <button class="black-button w-full sm:w-fit">
      Send Message
    </button>
  </div>
</div>
