@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: #f8ffff;
}

.black-button {
  @apply bg-black text-white px-[28px] py-2 rounded-[9px] duration-200;
}

.black-button:hover {
  background-color: hsla(216, 10.34%, 22.35%, 1);
}

.gray-button {
  @apply bg-[#e7ecf0] text-[#626a72] px-[28px] py-2 w-fit rounded-[9px] duration-200;
}
.gray-button:hover {
  background-color: #cbd5df;
}
.white-button {
  @apply bg-[#495158] text-white px-[28px] py-3 rounded-[9px] duration-200;
}
.white-button:hover {
  background-color: #33383f;
}

.light-gradient {
  background: rgb(240, 216, 219);
  background: -moz-linear-gradient(
    142deg,
    rgba(240, 216, 219, 1) 6%,
    rgba(234, 220, 229, 1) 27%,
    rgba(228, 231, 244, 1) 51%,
    rgba(241, 242, 244, 1) 68%,
    rgba(236, 228, 236, 1) 78%
  );
  background: -webkit-linear-gradient(
    142deg,
    rgba(240, 216, 219, 1) 6%,
    rgba(234, 220, 229, 1) 27%,
    rgba(228, 231, 244, 1) 51%,
    rgba(241, 242, 244, 1) 68%,
    rgba(236, 228, 236, 1) 78%
  );
  background: linear-gradient(
    142deg,
    rgba(240, 216, 219, 1) 6%,
    rgba(234, 220, 229, 1) 27%,
    rgba(228, 231, 244, 1) 51%,
    rgba(241, 242, 244, 1) 68%,
    rgba(236, 228, 236, 1) 78%
  );
}

.dark-gradient {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    39deg,
    rgba(49, 0, 0, 0.9) 0%,
    rgba(45, 4, 4, 0.9) 20%,
    rgba(8, 0, 26, 0.9) 52%,
    rgba(19, 8, 46, 0.9) 78%,
    rgba(33, 1, 1, 0.9) 95%
  );
}
